body {
  font-family: sans-serif;
  color: white;
  margin: 0;
  padding: 20px;
  background-image: url("/img/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


h1 {
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin: 0 auto;
  /* background: #5D120F; */
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#comments {
  height: 100px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}
